- has_content = (test_report.error_message and test_report.error_message != '')
-if has_content or not test_report.children.empty?
  .accordion-group
    .accordion-heading.build-head{class: test_status_alert_class(test_report)}
      %a.accordion-toggle{data: { toggle: 'collapse', parent: '#accordion', parent: "#accordion_#{test_report.parent.id rescue 0}" }, href: "#collapse_#{test_report.id}"}
        %span.badge= "#{test_report.status}"
        %b Cucumber Test
        = ": #{truncate test_report.title, length: 250, separator: ' '}"
        - if test_report.duration
          .pull-right
            %span
              %i.icon-time
              #{"%.3f s" % (test_report.duration)}
    .accordion-body.collapse{ id: "collapse_#{test_report.id}"}
      %div.accordion-inner
        - if has_content
          %pre= preserve test_report.error_message
        .accordion{id: "#accordion_#{test_report.id}"}= render test_report.children
-else
  .build-head{class: test_status_alert_class(test_report)}
    %span.badge= "#{test_report.status}"
    %b Cucumber Test
    = ": #{truncate test_report.title, length: 250, separator: ' '}"
    - if test_report.duration
      .pull-right
        %span
          %i.icon-time
          #{"%.3f s" % (test_report.duration)}
