%p#notice= notice

%p
  %b Filename:
  = @test_report.filename
%p
  %b Content:
  = @test_report.content

= link_to 'Edit', edit_test_report_path(@test_report)
\|
= link_to 'Back', test_reports_path
