%h3
  Project: #{@project.name}
  .right
    %a.btn.btn-small{href: run_project_path(@project)}  Run
    %a.btn.btn-small{href: edit_project_path(@project)}
      %i.icon-edit
      Edit
.builds
  - @builds.each do |build|
    .build.alert{class: build_status_alert_class(build)}
      %span.label{class: build_status_class(build)}= build.status
      &rarr;
      %a{href: "/builds/#{build.id}"}
        %strong Build #{build.id}
        %small= build.commit_ref
      .right
        %span= build.updated_at.stamp('19:00 Aug 27')

  = will_paginate @builds
- if @builds.empty?
  .alert
    No builds yet

