%h1= @project.name

#accordion2.accordion
  - @builds.each do |build|
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}
          %code= build.id
          = build.commit_ref
          %span= build.status
          %span= build.updated_at
      #collapseOne.accordion-body.collapse
        .accordion-inner
          %pre
            = build.trace

- if @builds.empty?
  .alert
    No builds yet

