%tr.build.alert{class: build_status_alert_class(build)}
  %td.status
    = build.status

  %td.build-link
    = link_to project_build_path(@project, build) do
      %strong #{build.short_sha}

  %td.build-message
    %span= truncate(build.git_commit_message, length: 50)

  %td.build-branch
    - unless @ref
      %span= build.ref

  %td.duration
    = build_duration build

  %td.timestamp
    - if build.finished_at
      %span #{time_ago_in_words build.finished_at} ago
