%tr.build.alert{class: build_status_alert_class(build)}
  %td.status
    = build.status

  %td.build-link
    = link_to project_build_path(build.project, build) do
      %strong Build ##{build.id}

  %td
    - if build.job
      - if build.for_tag?
        Tag
        &middot;
        #{build.ref}
      - else
        Commit
        &middot;
        #{build.short_sha}
  %td
    = build.job_name
    - if build.tags.any?
      .pull-right
        - build.tag_list.each do |tag|
          %span.label.label-primary
            = tag


  %td.duration
    - if build.duration
      #{distance_of_time_in_words build.duration}

  %td.timestamp
    - if build.finished_at
      %span #{time_ago_in_words build.finished_at} ago

  - if build.project.coverage_enabled?
    %td.coverage
      - if build.coverage
        #{build.coverage}%

  %td
    - if defined?(controls) && current_user.can_manage_project?(@project.gitlab_id)
      .pull-right
        - if build.active?
          = link_to cancel_project_build_path(build.project, build, return_to: request.original_url), title: 'Cancel build' do
            %i.icon-remove.cred
        - else
          = link_to retry_project_build_path(build.project, build, return_to: request.original_url), method: :post, title: 'Retry build' do
            %i.icon-repeat
