- if @build.running?
  :plain
    $('#build-trace').html("#{escape_javascript(@build.trace_html)}");
    $('#build-trace').append('#{loader_html}');
    checkAutoscroll();
    getBuild('#{project_build_path(@project, @build)}', '#{@build.id}');
- else
  :plain
    if(window.location.pathname == "#{project_build_path(@project, @build)}") {
      Turbolinks.visit("#{project_build_path(@project, @build)}");
    }
