%h3
  Project: #{@project.name}
  .right
    %a.btn.btn-small{href: project_path(@project)}  Builds
    - if current_user
      %a.btn.btn-small{href: run_project_path(@project)}  Run
      %a.btn.btn-small{href: edit_project_path(@project)}
        %i.icon-edit
        Edit Project

.alert{class: build_status_alert_class(@build)}
  %h4
    Build ##{@build.id}
    %small= @build.commit_ref
  .right
    %span= @build.updated_at.stamp('19:00 Aug 27')
  = @build.status
.clearfix
%pre.trace#build-trace
  = preserve do
    = @build.trace
%br
.right
  %a.btn.btn-small{href: project_path(@project)}  Builds
  - if current_user
    %a.btn.btn-small{href: run_project_path(@project)}  Run
    %a.btn.btn-small{href: edit_project_path(@project)}
      %i.icon-edit
      Edit Project


- if @build.running?
  :javascript
    $(function(){
      getBuild('#{project_build_path(@project, @build)}');
    })
