%h3
  Project: #{@project.name}
  .right
    %a.btn.btn-small{href: edit_project_path(@project)}
      %i.icon-edit.icon-white
      Edit Project

%p
  = link_to project_path(@project) do
    &larr; Back to project builds
%hr
.row-fluid
  .span9
    .alert{class: build_status_alert_class(@build)}
      %h4
        Build ##{@build.short_sha}
        %small= "(#{@build.ref})"
      .right
        %span= @build.updated_at.stamp('19:00 Aug 27')
      = @build.status


    .row-fluid
      .span6
        %fieldset
          %legend
            Build
            .right
              - if @build.active?
                = link_to "Cancel", cancel_project_build_path(@project, @build.id), class: 'btn btn-small btn-danger'
              - else
                = link_to "Retry", retry_project_build_path(@project, @build.sha), class: 'btn btn-small', method: :post

          %p
            %b Status:
            #{@build.status}
          - if @build.started_at
            %p
              %b Duration:
              #{build_duration @build}
          - if @build.finished_at
            %p
              %b Finished:
              #{time_ago_in_words(@build.finished_at)} ago
          %p
            %b Runner:
            - if @build.runner
              = @build.runner.token
      .span6
        %fieldset
          %legend Commit
          %p
            %b ID:
            #{build_commit_link @build}
          - if @build.compare?
            %p
              %b Compare:
              #{build_compare_link @build}
          %p
            %b Branch:
            #{build_ref_link @build}
          %p
            %b Author:
            #{@build.git_author_name}
          %p
            %b Message:
            #{@build.git_commit_message}

    .clearfix
    - if @build.active?
      .autoscroll-container.pull-right
        %button.btn.btn-mini#autoscroll-button{:type => "button", :data => {:state => 'disabled'}} enable autoscroll
      .clearfix
    %pre.trace#build-trace
      = preserve do
        = raw @build.trace_html

  .span3
    .builds
      %h5 Builds for #{@build.short_sha}:
      %table.builds
        %thead
          %tr
            %th Build ID
            %th Status
        - @builds.each_with_index do |build, i|
          %tr.build.alert{class: build_status_alert_class(build)}
            %td
              = link_to project_build_path(@project, build, bid: build.id ) do
                %span #{i+=1} &ndash; #{build.short_sha}
            %td.status= build.status


      = paginate @builds
%br
.right
  %a.btn.btn-small{href: edit_project_path(@project)}
    %i.icon-edit.icon-white
    Edit Project


- if @build.active?
  :javascript
    $(function(){
      getBuild('#{project_build_path(@project, @build)}', '#{@build.id}');
    })
