%h3
  Project: #{@project.name}
  .right
    %a.btn.btn-small{href: edit_project_path(@project)}
      %i.icon-edit.icon-white
      Edit Project

%p
  = link_to project_path(@project) do
    &larr; Back to project builds
%hr

.row-fluid
  .span9
    .build-head.alert{class: build_status_alert_class(@build)}
      %h4
        Build ##{@build.short_sha}
        %span.label.label-inverse= "#{@build.ref}"
        .pull-right
          %span
            %i.icon-time
            #{build_duration @build}

      .clearfix
        = @build.status
        .pull-right
          = @build.updated_at.stamp('19:00 Aug 27')



    .clearfix
    - if @build.active?
      .autoscroll-container.pull-right
        %button.btn.btn-mini#autoscroll-button{:type => "button", :data => {:state => 'disabled'}} enable autoscroll
      .clearfix
    %pre.trace#build-trace
      = preserve do
        = raw @build.trace_html

  .span3
    .build-widget
      %h4.title
        Build
        .pull-right
          - if @build.active?
            = link_to "Cancel", cancel_project_build_path(@project, @build.id), class: 'btn btn-small btn-danger'
          - else
            = link_to "Retry", retry_project_build_path(@project, @build.sha), class: 'btn btn-small btn-info', method: :post

      - if @build.started_at
        %p
          %span.attr-name Duration:
          #{build_duration @build}
      %p
        %span.attr-name Created:
        #{time_ago_in_words(@build.created_at)} ago
      - if @build.finished_at
        %p
          %span.attr-name Finished:
          #{time_ago_in_words(@build.finished_at)} ago
      %p
        %span.attr-name Runner:
        - if @build.runner
          \##{@build.runner.id}

    .build-widget
      %h4.title
        Commit
        .pull-right
          %small #{build_commit_link @build}

      - if @build.compare?
        %p
          %span.attr-name Compare:
          #{build_compare_link @build}
      %p
        %span.attr-name Branch:
        #{build_ref_link @build}
      %p
        %span.attr-name Author:
        #{@build.git_author_name}
      %p
        %span.attr-name Message:
        #{@build.git_commit_message}

    - if @builds.present?
      .build-widget
        %h4.title #{pluralize(@builds.count, "other build")} for #{@build.short_sha}:
        %table.builds
          - @builds.each_with_index do |build, i|
            %tr.build.alert{class: build_status_alert_class(build)}
              %td
                = link_to project_build_path(@project, build, bid: build.id ) do
                  %span #{i+=1} &ndash; #{build.short_sha}
              %td.status= build.status


        = paginate @builds
%br
.right
  %a.btn.btn-small{href: edit_project_path(@project)}
    %i.icon-edit.icon-white
    Edit Project


- if @build.active?
  :javascript
    $(function(){
      getBuild('#{project_build_path(@project, @build)}', '#{@build.id}');
    })
