%h3 Users
%hr

.row-fluid
  .span7
    %ul.unstyled
      - @users.each do |user|
        %li
          %i.icon-user
          = user.email
          = link_to 'Remove', user, :data => { :confirm => "Are you sure?" }, :method => :delete, class: 'btn btn-danger btn-small right'
          %hr
  .span5
    .well
      %h4 New User
      = form_for(@new_user, html: { class: 'form-horizontal' }) do |f|
        .control-group
          = f.label :email, class: 'control-label'
          .controls
            = f.email_field :email
        .control-group
          = f.label :password, class: 'control-label'
          .controls
            = f.password_field :password, :autocomplete => "off"
        .control-group
          = f.label :password_confirmation, class: 'control-label'
          .controls
            = f.password_field :password_confirmation
        .form-actions
          = f.submit "Create", class: 'btn btn-primary'



