- last_build = project.last_build
%tr.alert{class: project_statuc_class(project) }
  %td
    = project.id
  %td
    = link_to [:admin, project] do
      %strong= project.name
  %td
    - if last_build
      #{last_build.status} (#{build_link(last_build)})
      = time_ago_in_words project.last_build_date
      ago
    - else
      No builds yet
  %td
    - if project.public
      %i.icon-globe
      Public
    - else
      %i.icon-lock
      Private
  %td
    = project.builds.count
  %td
    = link_to [:admin, project], method: :delete do
      %i.icon-remove
      Remove
