%h4.page-title
  Project: #{@project.name}
  .pull-right
    - if @project.gitlab_url.present?
      = link_to 'View on GitLab', @project.gitlab_url, class: 'btn btn-small'
    = link_to edit_project_path(@project), class: "btn btn-default btn-small" do
      %i.icon-edit.icon-white
      Edit Project

%p
  = link_to admin_projects_path do
    &larr; Back to projects list
%hr
.row
  .col-md-6
    %fieldset
      %legend Project info
      %p
        ID:
        %strong= @project.id
      %p
        Name:
        %strong= @project.name
      %p
        Build timeout:
        %strong= @project.timeout
      %p
        GitLab ID:
        %strong= @project.gitlab_id
      %p
        Created at:
        %strong= @project.created_at
      %p
        Token:
        %strong= @project.token
      %p
        Public:
        %strong= @project.public
      %p
        Last build:
        - if @project.last_build
          = time_ago_in_words @project.last_build_date
    %br
    %fieldset
      %legend Email notification
      %p
        Repicients:
        %strong= @project.email_recipients
      %p
        Send mail to commiter:
        %strong= @project.email_add_committer
      %p
        Send on all broken builds:
        %strong= @project.email_only_broken_builds
    %br
    %fieldset
      %legend Slack notification
      %p
        Webhook:
        %strong= @project.slack_notification_webhook
      - if @project.slack_notification_channel.present?
        %p
          Channel override:
          %strong= @project.slack_notification_channel
      %p
        Send on all broken builds:
        %strong= @project.slack_only_broken_builds

  .col-md-6
    %fieldset
      - if @project.build_method == 'shell'
        %legend Build script
        = preserve do
          %pre
            = @project.scripts
        %br
        %p
          Build image:
          %strong= @project.build_image
        %p
          Build OS:
          %strong= @project.build_os
      - if @project.build_method == 'travis'
        %legend Travis environment
        - if @project.travis_environment.present?
          = preserve do
            %pre
              = @project.travis_environment
        - else
          = preserve do
            Not modified

    %br
    %fieldset
      %legend Builds stats
      %p
        Total:
        %strong= pluralize @project.builds.count, 'build'
      %p
        Requests:
        %strong= pluralize @project.build_groups.count, 'request'
      %p
        Successful:
        %strong= pluralize @project.builds.success.count, 'build'
      %p
        Failed:
        %strong= pluralize @project.builds.failed.count, 'build'

      %p
        Builds per request:
        %strong
          #{(@project.builds.count / @project.build_groups.count).round(1)}

      %p
        Success ratio:
        %strong
          #{success_ratio(@project.builds.success, @project.builds.failed)}%

      %p
        Commits covered:
        %strong
          = @project.builds.uniq_sha.count

