= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %p.lead= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      .alert.alert-error
        %ul
          - @project.errors.full_messages.each do |msg|
            %li= msg

  .row-fluid
    .span7
      %fieldset
        %legend Build
        .field
          = f.label :timeout, 'Timeout (in seconds) per command'
          = f.number_field :timeout, class: 'input-xlarge'
        .field
          = f.label :scripts
          = f.text_area :scripts, class: 'input-xxlarge', rows: 11, placeholder: "bundle exec rake spec"


      %fieldset
        %legend Build Schedule
        .field
          = f.label :always_build do
            = f.check_box :always_build
            %span Enable automatic build on schedule
        %br
        .field
          = f.label :polling_interval, "Build interval"
          = f.number_field :polling_interval, placeholder: '5'
          %span Hours
    .span5
      %fieldset
        %legend Project settings
        .field
          = f.label :default_ref, "Make tabs for next branches"
          = f.text_field :default_ref, class: 'input-xlarge', placeholder: 'master, stable'
          %p You will be able to filter builds by following branches
        .field.alert
          = f.label :public do
            = f.check_box :public, class: 'input-xlarge'
            %span Public (Anyone can see project and builds list)
        %br
      %fieldset
        %legend Advanced settings
        .field
          = f.label :name
          = f.text_field :name, class: 'input-xlarge', placeholder: 'my-project'
        .field
          = f.label :gitlab_url, "GitLab url to project"
          = f.text_field :gitlab_url, class: 'input-xlarge', placeholder: 'http://gitlab.domain.com/project-slug'
        .field
          = f.label :gitlab_id, "GitLab project id"
          = f.text_field :gitlab_id, class: 'input-xlarge', placeholder: '17'
        .field
          = f.label :ssh_url_to_repo, "ssh url to repository"
          = f.text_field :ssh_url_to_repo, class: 'input-xlarge', placeholder: 'git@gitlab.domain.com:project-slug.git'
        .field
          = f.label :token, "Token (Leave empty to generate random token)"
          = f.text_field :token, class: 'input-xlarge', placeholder: 'xEeFCaDAB89'

  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', projects_path, class: 'btn'
    - unless @project.new_record?
      = link_to 'Remove Project', project_path(@project), method: :delete, confirm: 'Project will be removed. Are you sure?', class: 'btn btn-danger right'
