%h3
  Project: #{link_to @project.name, @project} &rarr; Details
  - if @project.gitlab_url.present?
    %small= link_to 'View on GitLab', @project.gitlab_url
  .right
    = link_to project_path(@project), class: 'btn btn-small' do
      Builds
    %a.btn.btn-small{href: edit_project_path(@project)}
      %i.icon-edit.icon-white
      Edit


%p.lead Integration with GitLab and other services

%form.form-horizontal
  %fieldset
    %legend
      GitLab 5.3+
      %small build on push, integration with Merge Requests, links to GitLab instance
      .right
        %small Copy to GitLab &rarr; Project &rarr; Services

    .control-group
      = label_tag :token, 'Project Token', class: 'control-label'
      .controls
        = text_field_tag :token, @project.token, class: 'input-xxlarge', readonly: true
    .control-group
      = label_tag :url, 'Project URL', class: 'control-label'
      .controls
        = text_field_tag :url, project_url(@project), class: 'input-xxlarge', readonly: true

    %h5 Sample screenshot:
    .thumbnail.screenshot
      = image_tag image_path('service_sample.png')
