%h3
  Project: #{@project.name} &rarr; Details
  - if @project.gitlab_url.present?
    %small= link_to 'View on GitLab', @project.gitlab_url
  .right
    = link_to project_path(@project), class: 'btn btn-small' do
      Builds
    %a.btn.btn-small{href: edit_project_path(@project)}
      %i.icon-edit.icon-white
      Edit



%br
%p.lead Copy provided setting to you GitLab instance for close integration

%form.form-horizontal
  %fieldset
    %legend
      GitLab 3.1+
      .right
        Copy to GitLab &rarr; Project &rarr; Services

    .control-group
      = label_tag :url, 'Project URL', class: 'control-label'
      .controls
        = text_field_tag :url, project_url(@project), class: 'input-xxlarge', disabled: true

    .control-group
      = label_tag :token, 'Project Token', class: 'control-label'
      .controls
        = text_field_tag :token, @project.token, class: 'input-xxlarge', disabled: true

  %fieldset
    %legend
      GitLab 3.0 and earlier
      .right
        Copy to GitLab &rarr; Project &rarr; Web Hooks
    .control-group
      = label_tag :hook_url, 'HTTP POST Hook url', class: 'control-label'
      .controls
        = text_field_tag :url, build_project_url(@project, token: @project.token), class: 'input-xxlarge', disabled: true
        %p.hint Copy this link and add to GitLab web hooks

