%p.lead Integration with GitLab and other services

%form.form-horizontal
  %fieldset
    %legend
      GitLab 5.3+
      %small build on push, integration with Merge Requests, links to GitLab instance
      .right
        %small Copy to GitLab &rarr; Project &rarr; Services

    .control-group
      = label_tag :token, 'Project Token', class: 'control-label'
      .controls
        = text_field_tag :token, @project.token, class: 'input-xxlarge', readonly: true
    .control-group
      = label_tag :url, 'Project URL', class: 'control-label'
      .controls
        = text_field_tag :url, project_url(@project), class: 'input-xxlarge', readonly: true

    %h5 Sample screenshot:
    .thumbnail.screenshot
      = image_tag image_path('service_sample.png')
