%h3
  GitLab Owned projects:
%p Fetched from #{current_user.url}
- if @error
  .alert.alert-error
    %h5
      %i.icon-exclamation
      = @error
- else
  %table.table.table-striped.table-bordered
    %tr
      %th Name
      %th Repo
      %th

    - @projects.sort_by(&:name_with_namespace).each do |project|
      %tr
        %td
          = project.name_with_namespace
        %td
          = link_to project.web_url, project.web_url
        %td
          - if Project.already_added?(project)
            %strong.cgreen
              Added
          - else
            = form_tag projects_path do
              = hidden_field_tag :project, project.to_yaml
              = submit_tag 'Add', class: 'btn btn-small'

