%h3 Projects
- @projects.each do |project|
  .project_box
    .title
      = link_to project do
        %strong= project.name
    .alert{class: project_statuc_class(project) }
      - if project.last_build
        #{project.human_status}
        .right
          = time_ago_in_words project.last_build_date
          ago
      - else
        No builds yet
    .body
      - if current_user
        = link_to 'Builds', project_path(project), class: 'btn btn-small'
        %a.btn.btn-small{href: edit_project_path(project)}
          %i.icon-edit.icon-white
          Edit

      - if project.public
        %span.pull-right
          %i.icon-globe
          Public
.clearfix
= paginate @projects
- if @projects.empty?
  .alert
    No projects yet
