%h3
  Project: #{@project.name}
  - if @project.gitlab_url
    %small= link_to 'View on GitLab', @project.gitlab_url
  .right
    %a.btn.btn-small{href: run_project_path(@project)}  Run
    %a.btn.btn-small{href: edit_project_path(@project)}
      %i.icon-edit.icon-white
      Edit
    %a.btn.btn-small{href: status_project_path(@project)} Badge

.alert.alert-info
  %strong POST
  = text_field_tag :url, build_project_url(@project, token: @project.token), class: 'input-xxlarge'

.builds
  - @builds.each do |build|
    .build.alert{class: build_status_alert_class(build)}
      %span.label{class: build_status_class(build)}= build.status
      &rarr;
      = link_to project_build_path(@project, build) do
        %strong Build ##{build.short_sha}
        %small= "(#{build.ref})"
      .right
        %span= build.updated_at.stamp('19:00 Aug 27')

  = will_paginate @builds
- if @builds.empty?
  .alert
    No builds yet

