%h3
  Project: #{@project.name}
  - if @project.gitlab_url.present?
    %small= link_to 'View on GitLab', @project.gitlab_url
  .right
    = link_to details_project_path(@project), class: 'btn btn-small' do
      Details
    %a.btn.btn-small{href: edit_project_path(@project)}
      %i.icon-edit.icon-white
      Edit


.nav.nav-tabs
  %li{class: ref_tab_class}
    = link_to 'All builds', project_path(@project)
  - @project.tracked_refs.each do |ref|
    %li{class: ref_tab_class(ref)}
      = link_to ref, project_path(@project, ref: ref)

- if @ref
  %p
    Paste build status image for #{@ref} with next link
    %a.btn.btn-small{href: status_project_path(@project, ref: @ref)} Status Badge
  %p
    You can manually run a build for current branch.
    = link_to run_project_path(@project, ref: @ref), class: 'btn btn-small' do
      %i.icon-play.icon-white
      Run a build

%table.builds
  %thead
    %tr
      %th Status
      %th Commit
      %th Branch
      %th Duration
      %th Finished at

  = render @builds

= will_paginate @builds
- if @builds.empty?
  .alert
    No builds yet

