= render 'shared/guide' if params[:show_guide].present?


%ul.nav.nav-tabs
  %li{class: ref_tab_class}
    = link_to 'All builds', project_path(@project)
  - @project.tracked_refs.each do |ref|
    %li{class: ref_tab_class(ref)}
      = link_to ref, project_path(@project, ref: ref)


- if @ref
  %p
    Paste build status image for #{@ref} with next link
    = link_to '#', class: 'badge-codes-toggle btn btn-small ' do
      Status Badge
    .badge-codes-block.well.well-small.hide
      %label Markdown:
      = text_field_tag 'badge_md', markdown_badge_code(@project, @ref), readonly: true, class: 'input-xxlarge'
      %label Html:
      = text_field_tag 'badge_html', html_badge_code(@project, @ref), readonly: true, class: 'input-xxlarge'




%table.builds
  %thead
    %tr
      %th Status
      %th Commit
      %th Message
      %th Branch
      %th Duration
      %th Finished at

  = render @builds

= paginate @builds
- if @builds.empty?
  .alert
    No builds yet

