%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Path:
  = @project.path
%p
  %b Scripts:
  = @project.scripts

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
