%fieldset
  %legend Builds chart for last year
  %canvas#statChart.padded{width: 800, height: 400}

%fieldset
  %legend Overall
  %p
    Total:
    %strong= pluralize @project.builds.count, 'build'
  %p
    Successful:
    %strong= pluralize @project.builds.success.count, 'build'
  %p
    Failed:
    %strong= pluralize @project.builds.failed.count, 'build'

  %p
    Success ratio:
    %strong
      #{success_ratio(@project.builds.success, @project.builds.failed)}%

  %p
    Commits covered:
    %strong
      = @project.builds.uniq_sha.count

:javascript
  var data = {
    labels : #{@stats[:labels].to_json},
    datasets : [
      {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#EEE",
        data : #{@stats[:total].to_json}
      },
      {
        fillColor : "#4A3",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "#fff",
        data : #{@stats[:success].to_json}
      }
    ]
  }
  var ctx = $("#statChart").get(0).getContext("2d");
  new Chart(ctx).Line(data,{"scaleOverlay": true});
