%tr{id: dom_id(runner)}
  %td
    = runner.id
  %td
    - if runner.shared?
      %span.label.label-success shared
    - else
      %span.label.label-info specific

  %td
    = link_to admin_runner_path(runner) do
      = runner.short_sha
  %td
    .runner-description
      = runner.description
      %span (#{link_to 'edit', '#', class: 'edit-runner-link'})
    .runner-description-form.hide
      = form_for [:admin, runner], remote: true, html: { class: 'form-inline' } do |f|
        .form-group
          = f.text_field :description, class: 'form-control'
        = f.submit 'Save', class: 'btn'
        %span (#{link_to 'cancel', '#', class: 'cancel'})
  %td
    - if runner.shared?
      \-
    - else
      = runner.projects.count(:all)
  %td
    #{runner.builds.count(:all)}
  %td
    - runner.tag_list.each do |tag|
      %span.label.label-primary
        = tag
  %td
    #{time_ago_in_words(runner.created_at)} ago
  %td
    .pull-right
      = link_to 'Edit', admin_runner_path(runner), class: 'btn btn-small'
      &nbsp;
      = link_to 'Remove', [:admin, runner], data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-small'

