%h4.page-title
  Runner: #{@runner.token}

%p.light= @runner.description
%p
  = link_to admin_runners_path do
    &larr; Back to runners list
%hr

- if @runner.shared?
  .bs-callout.bs-callout-success
    %h4 This runner will process build from ALL UNASSIGNED projects
    %p If you want runner to build only specific projects you just need to enable them in table below
- else
  .bs-callout.bs-callout-info
    %h4 This runner will process build only from ASSIGNED projects
    %p If you want runner to build unassigned projects you just need to disable all assignee projects
.row
  .col-md-6
    %h4 Restrict projects for this runner
    - if @runner.projects.any?
      %table.table
        %thead
          %tr
            %th Assigned projects
            %th
        - @runner.runner_projects.each do |runner_project|
          - project = runner_project.project
          %tr.alert-info
            %td
              %strong
                = project.name
            %td
              .pull-right
                = link_to 'Disable', [:admin, project, runner_project], method: :delete, class: 'btn btn-danger btn-xs'

    %table.table
      %thead
        %tr
          %th Project
          %th
      - @projects.each do |project|
        %tr
          %td
            = project.name
          %td
            .pull-right
              = form_for [:admin, project, project.runner_projects.new] do |f|
                = f.hidden_field :runner_id, value: @runner.id
                = f.submit 'Enable', class: 'btn btn-xs'
    = paginate @projects

  .col-md-6
    %h4 Recent builds served by this runner
    %table.builds.runner-builds
      %thead
        %tr
          %th Status
          %th Project
          %th Commit
          %th Finished at

      - @builds.each do |build|
        %tr.build.alert{class: build_status_alert_class(build)}
          %td.status
            = build.status

          %td.status
            = build.project.name

          %td.build-link
            = link_to project_build_path(build.project, build) do
              %strong #{build.short_sha}

          %td.timestamp
            - if build.finished_at
              %span #{time_ago_in_words build.finished_at} ago
