- if ldap_enable?
  = render partial: 'devise/sessions/new_ldap'
- else
  %h3 Sign in
  %hr
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f|
    %div.control-group
      = f.label :email, class: 'control-label'
      .controls= f.email_field :email
    %div.control-group
      = f.label :password, class: 'control-label'
      .controls= f.password_field :password
    - if devise_mapping.rememberable?
      %div.control-group
        = f.label :remember_me, class: 'control-label'
        .controls= f.check_box :remember_me
    .form-actions
      = f.submit "Sign in", class: 'btn btn-primary'
      &nbsp;
      = render "devise/shared/links"
