= form_for @user_session do |f|
  - if @error.present?
    .alert.alert-error
      = @error
  %div.control-group
    = f.label :email, 'GitLab Email or Login',class: 'control-label'
    .controls= f.text_field :email
  %div.control-group
    = f.label :password, class: 'control-label'
    .controls= f.password_field :password
  .field
    = f.label :url
    = f.select :url, GitlabCi.config.allowed_gitlab_urls.map {|url| [url, url] }, placeholder: 'http://gitlab.company.com'
  .form-actions
    = f.submit "Sign in", class: 'btn btn-primary'
