= form_for @user_session, html: { class: 'form-horizontal form-signin' } do |f|
  %h2.form-signin-heading
    Sign in
    %small with GitLab account

  - if @error.present?
    .alert.alert-danger
      = @error

  = f.text_field :email, class: 'form-control', placeholder: 'GitLab Email or Login'
  = f.password_field :password, class: 'form-control', placeholder: 'Password'
  %div
    = f.label :url, 'GitLab Server'
  %div
    = f.select :url, GitlabCi.config.gitlab_server_urls.map {|url| [url, url] }, { placeholder: 'http://gitlab.company.com' }, class: 'form-control signin-select'
  %br
  = hidden_field_tag 'return_to', params[:return_to]
  = f.submit "Sign in", class: 'btn btn-lg btn-success btn-block'
