%tr.build.alert{class: build_status_alert_class(build)}
  %td.build-id
    = link_to build_url(build) do
      %strong ##{build.build_canonical_id}

  %td.status
    = build.status

  %td.runner
    - if build.runner
      = link_to build.runner.display_name, admin_runner_path(build.runner)

  %td.build-project
    = link_to build_project_url(build) do
      %strong= truncate build.project.name, length: 30

  %td.build-link
    = build_commit_link(build) do
      %strong #{build.short_sha}

  %td.build-branch
    %span
      = link_to build.ref, project_path(build.project, ref: build.ref)

  %td.build-message
    %span= truncate(build.git_commit_message, length: 50)

  %td.duration
    - if build.duration
      #{distance_of_time_in_words build.duration}
    - elsif build.wait
      #{distance_of_time_in_words -build.wait}

  %td.timestamp
    - if build.finished_at
      %span #{time_ago_in_words build.finished_at} ago

  %td
    - if build.active?
      = link_to cancel_project_build_path(build.project, build), data: { confirm: 'Build will be canceled. Are you sure?' }, class: 'btn btn-danger btn-xs' do
        %i.icon-remove
        Cancel
    - else
      = link_to retry_project_build_path(build.project, build), class: 'btn btn-primary btn-xs', method: :post do
        %i.icon-add
        Retry
