%ul.nav.nav-pills.nav-stacked.project-menu
  = nav_link path: 'projects#show' do
    = link_to project_path(@project) do
      %i.icon-list-alt
      Commits
      %small.pull-right= @project.commits.count
  = nav_link path: 'charts#show' do
    = link_to project_charts_path(@project) do
      %i.icon-bar-chart
      Charts
  = nav_link path: ['runners#index', 'runners#show'] do
    = link_to project_runners_path(@project) do
      %i.icon-cog
      Runners
  = nav_link path: 'variables#index' do
    = link_to project_variables_path(@project) do
      %i.icon-code
      Variables
  = nav_link path: 'web_hooks#index' do
    = link_to project_web_hooks_path(@project) do
      %i.icon-link
      Web Hooks
  = nav_link path: 'services#index' do
    = link_to project_services_path(@project) do
      %i.icon-share
      Services
  = nav_link path: 'events#index' do
    = link_to project_events_path(@project) do
      %i.icon-book
      Events
  %li
    %hr
  = nav_link path: 'projects#edit' do
    = link_to edit_project_path(@project) do
      %i.icon-cogs
      Settings
