!!! 5
%html{ lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title GitLab CI
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    .navbar.navbar-fixed-top.navbar-ci
      .navbar-inner
        .container-fluid
          = link_to GitlabCi::Name, root_path, class: "brand"
          %ul.nav
            - if current_user
              %li
                = link_to 'Add Project', new_project_path
              %li
                = link_to 'Users', users_path
              %li
                = link_to 'Background Jobs', resque_path
              %li
                = link_to edit_user_path(current_user) do
                  %i.icon-user.icon-white
                  = current_user.email
              %li
                = link_to 'Logout', destroy_user_session_path, class: "logout", method: :delete
            - else
              %li
                = link_to 'Login', new_user_session_path
    .container-fluid
      - if alert || notice
        %small
          = alert || notice
          %hr
      = yield
    .right
      .padded
        %p.light
          = GitlabCi::Name
          %span= GitlabCi::Version
          %small= GitlabCi::Revision

