!!! 5
%html{ lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title GitLab CI
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    .navbar.navbar-fixed-top.navbar-ci
      .navbar-inner
        .container-fluid
          = link_to 'GitLab CI', root_path, class: "brand"
          %ul.nav
            - if current_user
              %li
                = link_to 'Add Project', new_project_path
              %li
                = link_to 'Users', users_path
              %li
                = link_to 'Background Jobs', resque_path
          %ul.nav.pull-right
            - if current_user
              %li
                = link_to edit_user_path(current_user) do
                  .profile-holder
                    = image_tag gravatar_icon(current_user.email, 24)
                    %span= current_user.email
              %li
                = link_to destroy_user_session_path, class: "logout", method: :delete do
                  %i.icon-signout
                  Logout
            - else
              %li
                = link_to 'Login', new_user_session_path
    .container-fluid
      - if alert
        .alert= alert
      - if notice
        .alert.alert-info= notice

      = yield
    .right
      .padded
        %p.light
          GitLab CI
          %span= GitlabCi::Version
          %small= GitlabCi::Revision

