!!! 5
%html{ lang: "en"}
  = render 'layouts/head'
  %body
    = render 'layouts/nav'
    = render 'layouts/info'
    - if content_for?(:title)
      .container-fluid.container-title
        = yield(:title)
      %hr

    .container-fluid.container-body
      = yield
    = render 'layouts/foot'
