!!! 5
%html{ lang: "en"}
  = render 'layouts/head'
  %body{ :'data-page' => body_data_page }
    = render 'layouts/nav'
    = render 'layouts/info'
    .container
      %h3.project-title
        = @project.name
        - if @project.public
          %small
            %i.icon-globe
            Public

        .pull-right
          = link_to 'View on GitLab', @project.gitlab_url, no_turbolink.merge( class: 'btn btn-small' )
    %hr
    .container
      - if current_user && current_user.can_manage_project?(@project.gitlab_id)
        .row
          .col-md-2.append-bottom-20
            = render 'layouts/nav_project'
          .col-md-10
            = yield
      - else
        = yield
