!!! 5
%html{ lang: "en"}
  = render 'layouts/head'
  %body{ :'data-page' => body_data_page }
    = render 'layouts/nav'
    = render 'layouts/info'
    .container
      %h3.project-title
        = @project.name
        - if @project.public
          %small
            %i.icon-globe
            Public

        - if @project.gitlab_url.present?
          .pull-right
            = link_to 'View on GitLab', @project.gitlab_url, class: 'btn btn-small'
    %hr
    .container
      .row
        - if current_user
          .col-md-2.append-bottom-20
            %ul.nav.nav-pills.nav-stacked.project-menu
              = nav_link path: 'projects#show' do
                = link_to project_path(@project) do
                  %i.icon-list-alt
                  Builds
                  %small.pull-right= @project.builds.count
              = nav_link path: 'charts#show' do
                = link_to project_charts_path(@project) do
                  %i.icon-bar-chart
                  Charts
              = nav_link path: 'projects#integration' do
                = link_to integration_project_path(@project) do
                  %i.icon-wrench
                  Integration
              = nav_link path: 'web_hooks#index' do
                = link_to project_web_hooks_path(@project) do
                  %i.icon-link
                  Web Hooks
              = nav_link path: 'projects#edit' do
                = link_to edit_project_path(@project) do
                  %i.icon-edit
                  Settings
        .col-md-10
          = yield
